body {
    font-family: Sans-Serif;
}

.listbox {
    background-color: #ddd;
    padding: 0.5em;
    margin: 0.5em;
}

.flash {
    background-color: #bbf;
    padding: 0.5em;
    margin: 0.5em;
}

.addform {
    margin-top: 1em;
}
