body {
    font-family: Sans-Serif;
}

.listbox {
    background-color: #ddd;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.flash {
    background-color: #bbf;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

.addform {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h2, p {
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
}

h3 {
    margin: 0;
    padding: 0;
    display: inline;
}

.category_head {
    padding: 0.2em;
    width: 100%;
    background-color: #aaa;
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.catform {
    float: right;
}