{% extends "wrapper.html" %}
{% block body %}
<div class="col-xs-12 col-md-3"><div class="listbox">
  <p>Are you sure you want to {{ action }} {{ list }} {{ category }}?</p>
  <form action="/" method="POST">
    <input type="hidden" name="object" value="{{ object }}">
    <input type="hidden" name="list" value="{{ list }}">
    <input type="hidden" name="category" value="{{ category }}">
    <input type="hidden" name="confirm" value="true">
    <input type="submit" name="action" value="{{ action }}">
    <input type="submit" name="action" value="cancel">
  </form>
</div></div>
{% endblock %}
