{% extends "wrapper.html" %}
{% block body %}
{% for list in lists %}
  {% include "list.html" %}
{% endfor %}
<div class="col-xs-12 col-md-3"><div class="listbox">
  <p>new list...</p>
  <form action="/" method="POST">
    <input type="hidden" name="object" value="list">
    <input type="text" name="list">
    <input type="submit" name="action" value="add">
  </form>
</div></div>
{% endblock %}
