{% extends "wrapper.html" %}
{% block body %}
{% for list in lists %}
<div class="col-xs-12 col-md-2 listbox">
  <h2>{{ list.name }}</h2>
  <table>
    {% for item in list.items %}
    <tr>
	    <td>{{ item.name }}</td>
	    <td>
	      <form action="/moditem">
		<input type="hidden" name="item" value="{{item.name}}">
		<input type="submit" name="action" value="del">
	      </form>
	    </td>
    </tr>
    {% endfor %}
  </table>
  <form action="/listaction" method="POST">
    <input type="hidden" name="list" value="{{ list['name'] }}">
    <input type="submit" name="action" value="Print">
    <input type="submit" name="action" value="Clear">
    <input type="submit" name="action" value="Delete">
  </form>
</div>
{% endfor %}
<div class="col-xs-12 col-md-2 listbox">
  <p>new list...</p>
  <form action="/listaction" method="POST">
    <input type="text" name="list">
    <input type="submit" name="action" value="Add">
  </form>
</div>
{% endblock %}
