{% extends "wrapper.html" %}
{% block body %}
{% for list in lists %}
<div class="col-xs-12 col-md-2 listbox">
  <h2>{{ list.name }}</h2>
  <table>
    {% for item in list.items %}
    <tr>
	    <td>
	      <form action="/moditem" method="POST">
          <input type="hidden" name="list" value="{{ list.name }}">
          <input type="hidden" name="item" value="{{item.name}}">
          <input type="submit" name="action" value="del">
	      </form>
	    </td>
      <td>{{ item.name }}</td>
    </tr>
    {% endfor %}
  </table>
  <form action="/moditem" method="POST">
    <input type="hidden" name="list" value="{{ list.name }}">
    <input type="text" name="item">
    <input type="submit" name="action" value="add">
  </form>
  <br>
  <form action="/modlist" method="POST">
    <input type="submit" name="action" value="print">
    <input type="submit" name="action" value="clear">
    <input type="submit" name="action" value="delete">
  </form>
</div>
{% endfor %}
<div class="col-xs-12 col-md-2 listbox">
  <p>new list...</p>
  <form action="/modlist" method="POST">
    <input type="text" name="list">
    <input type="submit" name="action" value="add">
  </form>
</div>
{% endblock %}
