<div class="col-xs-12 col-md-3"><div class="listbox">
    <h2>{{ list.name }}</h2>
        {% for category in list.categories|sort(attribute='order') %}
            <div class="category_head">
                <h3>{{category.name}}</h3>
                <div class="catform">
                    <form action="/" method="POST">
                        <input type="hidden" name="object" value="category">
                        <input type="hidden" name="list" value="{{ list.name }}">
                        <input type="hidden" name="category" value="{{ category.name }}">
                        <input type="submit" name="action" value="del">
                        <input type="submit" name="action" value="up">
                        <input type="submit" name="action" value="down">
                    </form>
                </div>
            </div>

            {% for item in category.items %}
            <table>
                <tr>
                    <td>
                        <form action="/" method="POST">
                            <input type="hidden" name="object" value="item">
                            <input type="hidden" name="list" value="{{ list.name }}">
                            <input type="hidden" name="category" value="{{ category.name }}">
                            <input type="hidden" name="item" value="{{item.name}}">
                            <input type="submit" name="action" value="del">
                        </form>
                    </td>
                    <td>{{ item.name }}</td>
                </tr>
            </table>
            {% endfor %}

            <form action="/" method="POST" class="addform">
                <input type="hidden" name="object" value="item">
                <input type="hidden" name="list" value="{{ list.name }}">
                <input type="hidden" name="category" value="{{ category.name }}">
                <input type="text" name="item">
                <input type="submit" name="action" value="add">
            </form>
        {% endfor %}
    <br>
    <form action="/" method="POST">
        <input type="hidden" name="object" value="list">
        <input type="hidden" name="list" value="{{ list.name }}">
        <input type="text" name="category">
        <input type="submit" name="action" value="add category">
        <input type="submit" name="action" value="print">
        <input type="submit" name="action" value="clear">
        <input type="submit" name="action" value="delete">
    </form>
</div></div>